.video-container {
  text-align: center;
  position: relative;
  margin-top: 20px;
  display: flex; 
}

video {
  margin: 0 auto;
  cursor: pointer;
  width: 60%;
  min-width: 320px;
}

.control-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: max-content;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.play {
  width: 30px;
}

.triangulo{
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 100px solid white;
}
